@model long
@{ 
	string filter = null;
	filter = "| filter:filters.byRange('CompleteTime', model.dataDateRange.todoStart,model.dataDateRange.todoEnd)";

}
<div class="review smallBreak2 loading tiny " style2="min-height:30px;">
	<div class="todo-heading heading tile-title tile-title-3" style="@(ViewBag.HeadingStyle)" data-style="@(ViewBag.HeadingStyle)">
		@*<span class="clickable pull-right new hidden-width-1" onclick="@Html.ShowModal("Create To-Do", "/Todo/CreateTodoRecurrence/"+Model, "/Todo/CreateTodoRecurrence")">Create New <span class='glyphicon glyphicon-unchecked'></span></span>*@
		@*<span class="clickable pull-right new visible-width-1" style="text-decoration: none;" onclick="@Html.ShowModal("Create To-Do", "/Todo/CreateTodoRecurrence", "/Todo/CreateTodoRecurrence")"><span class='glyphicon glyphicon-unchecked'></span></span>*@
		<span class="handle">{{(model.L10Todos | filter:{KeyId:@(Model)})[0].Title}}&nbsp;</span>
		<span class="tile-buttons">			
			<a href="javascript:void(0)" class="tile-button" onclick="printTileData(@(Model))"><span class="glyphicon glyphicon-print"></span></a>
			<a href="/l10/details/@(Model)#Todos" target="_blank" class="tile-button tile-button-view-all" title="View All"><span class="glyphicon glyphicon-th-large"></span></a>
			<a href="javascript:void(0)" class="tile-button tile-button-add-new todoModal" data-method="CreateTodoRecurrence" data-id="@(Model)" data-context="L10" data-recurrenceId="@Model" title="Create New"><span class="glyphicon glyphicon-plus-sign"></span></a>
		</span>

	</div><div class="tile l10-todo-list-container">
        @{ Html.RenderPartial("~/Views/Todo/Partial/list.cshtml", new ViewDataDictionary(){
                                   {"AddHeaders", false},
                                   {"AddController", false},
                                   {"AddCompletion", false},
                                   {"AddDatePicker", false},
                                   {"UsePopup",true},
                                   {"RecurrenceId", Model},
                                   {"Filter",filter },
                                   {"Selector","(model.L10Todos | filter:{KeyId:"+(Model)+"})[0].Contents"},
                                   {"DefaultSort","'DueDate'"}

                               }); }<div ng-show="(model.L10Todos | filter:{KeyId:@(Model)}).length==0" class="gray alignCenter" style="padding-bottom: 16px;" elem-ready="functions.reload((model.L10Todos | filter:{KeyId:@(Model)}).length==0)">Please wait</div>
    </div>
</div>
