@model RadialReview.Accessors.PDF.Partial.CoverPagePartialViewModel

<div class="cover">
	<div class="cover-logo">
		<!--Image here-->
		<div>
			<img src="@Model.Image" />
		</div>
	</div>

	<div class="cover-title">
		@Model.PrimaryHeading
	</div>
	<div class="cover-subheading">
		@if (!Model.UseLogo) {
			<span>@Model.UpperHeading </span>
		}
		@Model.LowerHeading
	</div>

	<div class="cover-toc">
		<table>
			@foreach (var page in Model.PageNumbers) {
				<tr> <td class="content-title">@page.Title</td><td class="content-page">@page.Page</td></tr>
			}
		</table>
	</div>

	@{
		var batch = 4;
		//if (Model.CoreValues.Count() < 4) {
		//	batch = 1;
		//} else if (Model.CoreValues.Count() < 10) {
		//	batch = 2;
		//} else {
		//	batch = 3;
		//}

		var valueGroups = Model.CoreValues.Batch(batch);

	}
	@if (Model.CoreValues.Any()) {
		<div class="box cover-corevalues-container">
			<div class="box cover-corevalues">
				@foreach (var valueGroup in valueGroups) {
					<div class="cover-corevalues-row">
						@for (var i = 0; i < valueGroup.Count(); i++) {
							<span>@valueGroup.ElementAt(i)</span>
							if (i != valueGroup.Count() - 1) {
								<span class='cover-corevalues-dot'></span>
							}
						}
					</div>
				}
			</div>
		</div>
	}
</div>
<style>

	.cover {
		/*width: 100%;
		height: 100%;*/
		margin: 0;
	}

		.cover .cover-logo-container {
			/*position: relative;*/
		}

		.cover .cover-logo {
			position: absolute;
			left: calc(50% - .9in);
			top: 2.3in;
			width: 1.8in;
			height: 1.8in;
		}

			.cover .cover-logo img {
				max-height: 90%;
				max-width: 90%;
				width: auto;
				height: auto;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
			}

		.cover .cover-title {
			position: absolute;
			top: 4.2in;
			left: 0;
			right: 0;
			text-align: center;
			font-size: 44px;
			/*font-family: sans-serif;*/
		}

		.cover .cover-subheading {
			position: absolute;
			top: 4.95in;
			left: 0;
			right: 0;
			text-align: center;
			font-size: 20px;
			colo #87878787;
			/*font-family: sans-serif;*/
		}

		.cover .cover-toc {
			position: absolute;
			right: .8in;
			bottom: 2in;
			font-size: 10px;
			/*font-family: sans-serif;*/
		}

			.cover .cover-toc .content-title {
				text-align: right;
				color: #ddd;
				letter-spacing: 0.5px;
			}

			.cover .cover-toc .content-page {
				width: 20px;
				padding-left: 20px;
				color: #ddd;
				font-weight: bold;
			}

		.cover .cover-corevalues-container {
			position: absolute;
			bottom: 0px;
			min-height: 21%;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
		}

		.cover .cover-corevalues {
			margin-left: auto;
			margin-right: auto;
			width: 38%;
			border-top: 2px solid lightgray;
			padding-top: 0.4in;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 0px;
			/*font-family: sans-serif;*/
			font-size: 11px;
			line-height: 20px;
		}


		.cover .cover-corevalues-dot {
			-webkit-print-color-adjust: exact !important;
			width: 4px;
			height: 4px;
			background-color: #005ed7;
			display: inline-block;
			border-radius: 4px;
			margin: 2px 4px;
			text-transform: uppercase;
		}
</style>
