@model List<RadialReview.Controllers.NotificationController.NotificationViewModel>
@{
	var guid = Html.NewGuid();
	var i = 0;

	var dateAgo = new Func<TimeSpan, string>(x => {
		var prefix = (x.TotalMinutes < 0)?"-":"";

		if (x.TotalMinutes < 0)
			x = -x;

		if (x.TotalMinutes < 60) {
			return prefix+(int)Math.Round(x.TotalMinutes) + "m";
		}
		if (x.TotalHours < 24) {
			return prefix + (int)Math.Round(x.TotalHours) + "h";
		}
		if (x.TotalDays < 365) {
			return prefix + (int)Math.Round(x.TotalDays) + "d";
		}
		return prefix + (int)Math.Round(x.TotalDays/365) + "y";
	});

}
<div class="@guid notifications-container">
	@if (Model == null || Model.Count == 0) {
		<div class="gray">No notifications</div>
	} else {
		<table class="notifications">
			@foreach (var n in Model) {
				i += 1;
				<tr class="top-row">
					<td class="dot @(n.Seen != null ? "" : "not-seen") @(n.CanMarkSeen ? "" : "cannot-mark-seen")" data-seen="@n.Seen" onclick="Notifications.toggle(@n.Id,$(this).attr('data-seen')=='null')"></td>
					<td class="message">@(new HtmlString( n.Message))</td>
					<td class="date-ago">@(dateAgo(DateTime.UtcNow-n.CreateTime))</td>

					@*<td class="seen">@(n.Seen != null ? "seen" : "not seen")</td>*@
				</tr>
				<tr class="bottom-row @(i == Model.Count ? "last" : "")">
					<td></td>
					<td class="details" colspan="2">@(new HtmlString(n.Details))</td>
				</tr>

			}
		</table>
	}
</div>

<style>

	.modal-dialog{
		width: 500px;
	}

	.@guid{
	    padding-bottom: 15px;
	}

	.@guid table {
		width: 100%;
	}

	.@guid td {
		height:20px;
	}

	.@guid .date-ago{
		color: #ccc;
		font-size: 11px;
		text-align: right;
	}
	.@guid .date-ago:hover{
		color:#333;
		cursor:default;
	}

	.@guid .dot{
		min-width: 20px;
		font-size: 22px;
		top: 3px;
		position: relative;
	}
	.@guid .dot:before{
		content: '•';
		color:lightgray;
	}
	.@guid .dot.not-seen:before{
		color:#5cb85c;
	}

	.@guid .dot.not-seen.cannot-mark-seen:before{
		color:orange;
	}


	.@guid .top-row td{
	    vertical-align: bottom;
	}
	.@guid .bottom-row td{
	    vertical-align: top;
		padding-bottom: 10px;
	}

	.@guid .bottom-row:not(.last){
		border-bottom:1px solid lightgray;
	}

	.@guid .message{
		width:100%;
		font-weight:bold;
	    font-size: 16px;
	}

	.@guid .details{
		color:gray;
	}

	.@guid .seen{
		font-style: italic;
		text-align:right;
	    min-width: 70px;
		color: lightgray;
		font-size: 90%;
		padding-top: 3px;
	}
</style>