@model long
@{
	ViewBag.Title = "L10 Wizard";
	ViewBag.FullWidth = true;
	Layout = "~/Views/Shared/_Layout.cshtml";
	Html.RenderPartial("~/Views/CDN/Angular.cshtml");

	var target = "";
	var noheading = "";
	var noheading2 = "";
	var pqwUrl = RadialReview.Utilities.Config.GetPQWUrl() + "#/" + Model + "/congrats";
	//url = Config.BaseUrl(null) + @"L10/Details/" + recurrenceId + "#/Headlines";
	if (ViewBag.NoTitleBar ?? false) {
		target = "target=\"_blank\"";
		noheading = "?noheading=true";
		noheading2 = "&noheading=true";
	}

}
@using (Html.BeginStyles()) {
	@*<link href="~/Content/L10/L10Wizard.css" rel="stylesheet" />*@
	@Styles.Render("~/Content/L10Wizard")
	@*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.1/angular.js"></script>*@


	if (ViewBag.NoTitleBar ?? false) {
		<style>
			html {
				overflow: auto;
				padding-top: 26px;
			}

			#l10-wizard-menu .wizard-nav-bar {
				display: none;
			}
		</style>
	}
	<script>
        try{
            window.InitialModel = @ViewBag.InitialModel;
        }catch(e){
            console.error(e);
        }
	</script>

}

@using (Html.BeginScripts()) {
	<script>

        @if (!(ViewBag.CanEdit??false)) {
			@:$("body").addClass("edit-disabled");
        		}

        @if (!(ViewBag.CanAdmin ?? false)) {
			@:$("body").addClass("admin-disabled");
        		}
	</script>

	@Scripts.Render("~/bundles/meeting")
	@Scripts.Render("~/bundles/L10Wizard")

	<script>
		window.recurrenceId = @Model;

		initWizard("Basics");

        angular.module('L10App')
			.value('recurrenceId', @Model)
			.value('date-range',"today")
			.value('meetingDataUrlBase', '/L10/DetailsData/{0}?scores=false&historical=false')
			.value("meetingCallback",false);


        function textingModal(data){
            if (!data.Error){
                var message = data.Message.replace(" '"," '<b>").replace("' to ","</b>' to ");//.replace(" to activate.","</b> to activate.");

                showModal({
                    icon:"info",
                    title: message
                });
            }
        }

        var curRecur=0;
		function showPrint(recurrenceId) {
			//Old version
            curRecur=recurrenceId;
            showModal("Generate Quarterly Printout", "/Quarterly/Modal/"+ recurrenceId, "/Quarterly/Printout/" + recurrenceId, "callbackPrint");
		}


		function callbackPrint() {

			$("#modalForm").unbind("submit");
			$("#modalForm").attr("target", "_blank");
			$("#modalForm").attr("method", "post");
			$("#modalForm").attr("action", "/Quarterly/Printout/" + window.recurrenceId);
			$("#modalForm").bind("submit", function () {
				$("#modal").modal('hide');
			});
		}

		function showPrintPdf() {
			//New version
			showModal("Generate Quarterly Printout", "/Quarterly/Modal2/" + window.recurrenceId, "/Quarterly/Printout2/" + window.recurrenceId, "callbackPrintPdf");
		}

        function showImplementer(recurrenceId){
        	showModal("Send a quarterly printout to your implementer", "/Quarterly/Send/"+ recurrenceId, "/Quarterly/Send/" + recurrenceId, null,"validateImplementer");
        }

		function validateImplementer(m) {
			if (m.ImplementerEmail.trim() == "")
				return;

        	var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        	if (!re.test(String(m.ImplementerEmail).toLowerCase()))
        		return "Please enter a valid e-mail address";
        }


        function callbackPrint() {
            $("#modalForm").unbind("submit");
            $("#modalForm").attr("target", "_blank");
            $("#modalForm").attr("method", "post");
            $("#modalForm").attr("action", "/Quarterly/Printout/" + curRecur);
            $("#modalForm").bind("submit", function () {
                $("#modal").modal('hide');
            });
        }

        function getAdmins(id){
            showModal("You do not have access to this page.","/l10/getadmins/"+id,null);
        }

	</script>
}

<div class="clearfix smallBreak2"></div>
<div class="ng-cloak2" ng-app="L10App">
	<div ng-controller="L10Controller">
		<div class="wizard hidden">
			<div class="row">
				<div class="col-sm-3 wizard-menu ">
					<div class=" scroll-left-side">
						<div class="scroll-left-side-items">
							<div class="component" id="l10-wizard-menu">
								<h2 class="title-bar" style="margin-bottom: -5px;margin-top: 10px;">Edit Meeting</h2>	
								<table style="width:100%;display:none" class="wizard-nav-bar" >
									<tr>
										<td>
											<span class="button backButton pull-left glyphicon glyphicon-chevron-left" onclick="backPage()"></span>
										</td>
										<td style="width:100%">
											<div class="progress" id="l10-wizard-progress">
												<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
													<span class="sr-only">60% Complete</span>
												</div>
											</div>
										</td>
										<td>
											<div class="button nextButton pull-right glyphicon glyphicon-chevron-right" onclick="nextPage()"></div>
										</td>
									</tr>
								</table>
								<div class="clearfix"></div>
								<ol>
									<li><a href="#Basics">Basics</a></li>
									<li><span id="l10-wizard-attendees-btn"><a href="#Attendees">Attendees</a></span></li>
									<li ng-show="model.ShowScorecard"><a href="#Scorecard">Scorecard</a></li>
									<li ng-show="model.ShowRockReview"><a href="#Rocks">Rocks</a></li>
									<li ng-show="model.HeadlineType=='HeadlinesList' && model.ShowHeadlines"><a href="#Headlines">People Headlines</a></li>
									<li ng-show="model.ShowTodos"><a href="#Todos">To-dos</a></li>
									<li ng-show="model.ShowIDS"><a href="#Issues">Issues</a></li>
								</ol>

							</div>
							<div class="component1 wizard-extra-buttons" id="wizard-extra-buttons">
								<div class="btn-row pull-right1">
									<a class="btn btn-default btn-sm1 btn-meeting-archive" href="/L10/Details/@Model@noheading"><span style="top: 2px;" class="icon fontastic-icon-archive-1" title=""></span> Meeting Archive <span class="glyphicon glyphicon-triangle-right gray"></span></a>
									<a class="btn btn-default btn-sm1 btn-open-pqw" href="@pqwUrl" target="_blank"><span style="top: 2px;" class="icon fontastic-icon-history"></span> Post Quarterly Wizard<span class="glyphicon glyphicon-triangle-right gray"></span></a>
									<a class="btn btn-default btn-sm1 btn-generate-printout" href="javascript:void(0)" onclick="showPrintPdf(@(Model))"><span style="top: 2px;" class="icon fontastic-icon-page-export-pdf"></span> Quarterly Printout <span class="glyphicon glyphicon-triangle-right gray"></span></a>
									<a class="btn btn-default btn-sm1 btn-send-to-implementer" href="javascript:void(0)" onclick="showImplementer(@(Model))"><span style="top: 2px;" class="glyphicon glyphicon-send"></span> Send to Implementer @Html.ShowNew(new DateTime(2018, 12, 31)) <span class="glyphicon glyphicon-triangle-right gray"></span></a>
									<a class="btn btn-default btn-sm1 shift-hidden btn-export" href="@Url.Action("ExportAll", new { id = Model })" target="_blank"><span class="icon fontastic-icon-file-zip"></span> Export All <span class="glyphicon glyphicon-triangle-right gray"></span></a>
									<a class="btn btn-default btn-sm1 shift-visible hidden btn-export" href="@Url.Action("ExportAll", new { id = Model, includeDetails = true })" target="_blank"><span class="icon fontastic-icon-file-zip"></span> <i>Export All <span class="gray fadein">(include notes)</span></i> <span class="glyphicon glyphicon-triangle-right gray"></span></a>
									<a class="btn btn-default btn-sm1 btn-timeline" href="/L10/Timeline/@Model@noheading"><span class="icon fontastic-icon-back-in-time"></span> Timeline <span class="glyphicon glyphicon-triangle-right gray"></span></a>
									<a class="btn btn-default btn-sm1 btn-vto" href="/L10/EditVto/@Model@noheading"><span style="top: 2px;" class="glyphicon glyphicon-vto" title=""></span> View V/TO <span class="glyphicon glyphicon-triangle-right gray"></span></a>
									<a class="btn btn-default btn-sm1 l10-texting-actions btn-texting" href="javascript:void(0)" onclick="@Html.ShowModal("Add Texting Action", "/TwilioApi/Modal?recurrenceId=" + Model, "/TwilioApi/Modal", null, null, "textingModal")"><span style="top: 2px;" class="glyphicon glyphicon-phone l10-texting-actions"></span> Texting Actions <span class="glyphicon glyphicon-triangle-right gray"></span></a>
									<a class="btn btn-default btn-sm1 btn-pages" @*target="_blank"*@ href="/L10/Pages/@Model@noheading"><span style="top: 2px;" class="icon fontastic-icon-page-multiple"></span> Edit pages <span class="glyphicon glyphicon-triangle-right gray"></span></a>
									@if (ViewBag.CanAdmin == false) {
										<a class="btn btn-default btn-sm1 btn-meetingsummary" href="javascript:void(0)" onclick="getAdmins(@Model)"><span style="top: 2px;" class="icon fontastic-icon-email"></span> Meeting Summary Subscribers <span class="glyphicon glyphicon-triangle-right gray"></span></a>
										<a class="btn btn-default btn-sm1 btn-advanced" href="javascript:void(0)" onclick="getAdmins(@Model)"><span style="top: 2px;" class="icon fontastic-icon-cog-gear"></span> Advanced Settings <span class="glyphicon glyphicon-triangle-right gray"></span></a>
									} else {
										@*REMEMBER: Apply Mark's "noheading" update to the meeting summary line.*@
										<a class="btn btn-default btn-sm1 btn-meetingsummary" href="/L10/MeetingSummarySettings/@Model@noheading"><span style="top: 2px;" class="icon fontastic-icon-email"></span> Meeting Summary Subscribers <span class="glyphicon glyphicon-triangle-right gray"></span></a>
										<a class="btn btn-default btn-sm1 btn-advanced" href="/L10/Edit/@Model@noheading"><span style="top: 2px;" class="icon fontastic-icon-cog-gear"></span> Advanced Settings <span class="glyphicon glyphicon-triangle-right gray"></span></a>
									}

								</div>
							</div>
						</div>
					</div>
					<div class="scroll-shadow"></div>
				</div>
				<div class="col-sm-9">
					<div class="component wizard-page" data-page="Basics" id="l10-wizard-basics">
						<div class="pull-right">
							@{Html.RenderAction("Dropdown", "Permissions", new {
									id = Model,
									type = RadialReview.Models.PermItem.ResourceType.L10Recurrence,
									right = true,
									displayText = "",
								}); }
						</div>
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label">Meeting Name:</label>
								<div class="col-md-7" id="l10-wizard-name">
									<input class="blend on-edit-enabled" type="text" ng-model-options="{ debounce: 300 }" ng-model="model.Basics.Name" ng-change="functions.sendUpdate(model.Basics)" />
								</div>
							</div>
							<div class="form-group" ng-show="model.MeetingType =='L10'">
								<label class="col-md-3 control-label">Type of team:</label>
								<div class="col-md-7" id="l10-wizard-teamtype">
									<select class="blend on-edit-enabled" ng-model="model.Basics.TeamType" ng-change="functions.sendUpdate(model.Basics)" ng-options="s.value as s.text for s in options.l10teamtypes"></select>
								</div>
							</div>
							<div class="form-group" ng-show="model.MeetingType =='L10'">
								<label class="col-md-3 control-label">Upload contents:</label>
								<div class="col-md-7" id="l10-wizard-teamtype">
									<div class="btn btn-info upload2" ng-click="functions.goto('/upload/l10/l10?recurrence='+recurrenceId+'@noheading2')">Upload <span class="glyphicon glyphicon-chevron-right"></span></div>
									@*<i class="small gray">Works best if you've added your attendees first.</i>*@
									@*<a class="btn btn-info" href="/upload/samplel10" style="color:white;"><span class="glyphicon glyphicon-download"></span> Download a template</a>*@
								</div>
							</div>
						</div>
					</div>
					<div class="component wizard-page" data-page="Attendees" id="l10-wizard-attendees">
						@*<div class="btn btn-info pull-right upload2" ng-click="functions.goto('/upload/L10/users?recurrence='+recurrenceId+'@noheading2')"><span class="glyphicon glyphicon-upload"></span> Upload Attendees</div>*@
						@*<div class="upload upload-attendees" ng-click="functions.goto('/upload/L10/users?recurrence='+recurrenceId+'@noheading2')" data-toggle="tooltip" data-placement="left" title="Upload Attendees"></div>*@
						<div class="title-bar">Attendees List</div>
						@{Html.RenderPartial("~/Views/User/partial/list.cshtml", new ViewDataDictionary{
																			  {"AddHeaders",false},
																			  {"SortBy","createtime-column"}
																		  });
						}
					</div>
					<div class="component wizard-page" data-page="Scorecard" id="l10-wizard-scorecard">
						@*<i class="material-icons">merge_type</i>*@
						<div class="btn btn-info pull-right upload2"  ng-click="functions.goto('/upload/l10/scorecard?recurrence='+recurrenceId+'@noheading2')"><span class="glyphicon glyphicon-upload"></span> Upload Scorecard</div>
						@*<div class="upload upload-scorecard"  data-placement="left" title="Upload Scorecard"></div>*@
						<div class="title-bar">Scorecard Measurables</div>
						@{Html.RenderPartial("~/Views/Measurable/partial/list.cshtml", new ViewDataDictionary{
																			  {"AddHeaders",false},
																			  {"AddDatePicker",false},
																			  {"EditOwner",true},
																			  {"ElasticInput",false},
																			  {"Reorderable",true},
																			  {"Order","| orderBy: ['Id','DateCreated']"}
																		  });
						}
					</div>

					<div class="component wizard-page" data-page="Rocks" id="l10-wizard-rocks">
						<div class="btn btn-info pull-right upload2" ng-click="functions.goto('/upload/l10/rocks?recurrence='+recurrenceId+'@noheading2')"><span class="glyphicon glyphicon-upload"></span> Upload Rocks</div>
						@*<div class="upload upload-rocks" ng-click="functions.goto('/upload/l10/rocks?recurrence='+recurrenceId+'@noheading2')" data-toggle="tooltip" data-placement="left" title="Upload Rocks"></div>*@
						<div class="title-bar">Quarterly Rocks</div>
						@{Html.RenderPartial("~/Views/Rocks/partial/list.cshtml", new ViewDataDictionary{
																			  {"SortBy","createtime-column"},
																			  {"AddHeaders",false},
																			  {"AddDatePicker",false},
																			  {"UsePopup", true},
																			  {"Filter",""},
																			  {"DefaultSort","['Id','CreateTime']"}
																		  });
						}
					</div>
					<div class="component wizard-page" data-page="Headlines" id="l10-wizard-headlines" ng-show="model.HeadlineType=='HeadlinesList'">
						<div class="title-bar">People Headlines</div>
						@{Html.RenderPartial("~/Views/Headlines/partial/list.cshtml", new ViewDataDictionary{
																			  {"AddHeaders",false},
																			  {"ShowDetails",false},
																			  {"SortBy","createtime-column"},
																			  {"AddDatePicker",false},
																			  {"DefaultSort","CreateTime"},
																			  {"UsePopup",true },
																			  {"Order","| orderBy: ['Id','DateCreated']"}
																		  });
						}
					</div>
					<div class="component wizard-page" data-page="Todos" id="l10-wizard-todos">
						<div class="btn btn-info pull-right upload2" ng-click="functions.goto('/upload/l10/todos?recurrence='+recurrenceId+'@noheading2')"><span class="glyphicon glyphicon-upload"></span> Upload To-dos</div>
						@*<div class="upload upload-todos" ng-click="functions.goto('/upload/l10/todos?recurrence='+recurrenceId+'@noheading2')" data-toggle="tooltip" data-placement="left" title="Upload To-dos"></div>*@
						<div class="title-bar">To-do List</div>
						@{Html.RenderPartial("~/Views/Todo/partial/list.cshtml", new ViewDataDictionary{
																			  {"AddHeaders",false},
																			  {"ShowDetails",false},
																			  {"SortBy","createtime-column"},
																				 {"UsePopup",true},
																			  {"AddDatePicker",false},
																			  {"DefaultSort","CreateTime"},
																			  {"ShowMeeting",false},
																			  {"Context","L10"},
																			  {"Order","| orderBy: ['Id','DateCreated']"}
																		  });
						}
					</div>
					<div class="component wizard-page" data-page="Issues" id="l10-wizard-issues">
						<div class="btn btn-info pull-right upload2" ng-click="functions.goto('/upload/l10/issues?recurrence='+recurrenceId+'@noheading2')"><span class="glyphicon glyphicon-upload"></span> Upload Issues</div>
						@*<div class="upload upload-issues" ng-click="functions.goto('/upload/l10/issues?recurrence='+recurrenceId+'@noheading2')" data-toggle="tooltip" data-placement="left" title="Upload Issues"></div>*@
						<div class="title-bar">Issues List</div>
						@{Html.RenderPartial("~/Views/Issues/partial/list.cshtml", new ViewDataDictionary{
																			  {"AddHeaders",false},
																			  {"ShowDetails",false},
																					  { "UsePopup",true},
																			  {"SortBy","createtime-column"},
																			  {"SortByDirection","ascending"},
																			  {"DefaultSort","['Id','CreateTime']"}
																		  });
						}
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.scroll-left-side {
		padding-bottom: 10px;
	}

	@@media(max-width: 1200px){
		.glyphicon-triangle-right:before{
			display:none;
		}
	}

	@@media (min-width: 768px) {
		.scroll-left-side {
			max-height: calc(100vh - 75px);
			overflow: auto;
			direction: rtl;
			padding-bottom: 10px;
		}

		.scroll-left-side-items {
			direction: ltr;
		}

		.scroll-left-side::-webkit-scrollbar {
			width: 14px;
			height: 14px;
		}
		/* Track */
		.scroll-left-side::-webkit-scrollbar-track {
			background-color: rgba(0,0,0,.15);
			border: 6px solid transparent;
			background-clip: padding-box;
			-webkit-border-radius: 2px;
			border-radius: 2px;
		}
		/* Handle */
		.scroll-left-side::-webkit-scrollbar-thumb {
			-webkit-border-radius: 9px;
			border-radius: 9px;
			background: #ccc;
			border: 3px solid transparent;
			background-clip: padding-box;
			margin: 2px;
			-webkit-transition: background .2s ease-in-out;
		}

		.scroll-left-side:hover::-webkit-scrollbar-thumb {
			background: #aaa;
			-webkit-border-radius: 9px;
			border-radius: 9px;
			border: 3px solid transparent;
			background-clip: padding-box;
			margin: 2px;
		}

		.scroll-shadow {
			box-shadow: 0 -45px 20px -30px #eeeeee inset;
			position: absolute;
			bottom: 0;
			left: 30px;
			right: 0;
			height: 40px;
			pointer-events: none;
		}
	}
</style>